{% extends 'base.html' %}
{% block content %}
{% load static %} 
<section id='app-detail'  class="service">
  <div class="service text-center">
      <h1 class="service-subtitle mb-4" style="margin-top: -6vh">My {{pets.name}} Detail's</h1>
  </div> 
  </section>
<div class="card mb-3 mx-auto" style="max-width: 100vh;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static pets.image|cut:'main_app/static' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Type: {{ pets.type }}</h5>
        <p class="card-text">Description: {{ pets.description }}</p>
        <p class="card-text"><small class="text-muted">{{ pets.age }} years old of Breed {{ pets.breed }}</small></p>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <a class="btn btn-primary mx-auto w-sm" href="{% url 'pets_update' pets.id %}">Edit</a>
  <a class="btn btn-primary mx-auto w-sm" href="{% url 'pets_delete' pets.id %}">Delete</a>
</div>





     
      
    


{% endblock %}
