{% extends 'base.html' %}
{% block content %}
{%load static %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}  m-5" id="msg" role="alert" style='text-align: center;'>{{ message }}</div>
    {% endfor %}
{% endif %}

  <section id="blog" class="section" style="margin-top: -10vh">
    <div class="container text-center">
        
        <div class="d-flex justify-content-between p-5 service text-center">
            <h1 class="service-subtitle">My Pets</h1>
            <p class="mb-2 pb-4"></p>
            <div class="app-btn">
              <a class="- btn btn-primary rounded ml-4" href="{% url 'pets_create' %}">Add Pets</a>
            </div>
        </div>
        <div class="row ">
            {% for pet in pets %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card border mb-4">
                    <img src="{% static pet.image|cut:'main_app/static' %}" alt="" class="card-img-top w-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ pet.name }}</h5>
                        <a href="{% url 'pets_detail' pet.id %}" id="color">{{ pet.name }}'s Details</a>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>
    </div>
</section>



  {% endblock %}

