{% extends 'base.html' %}
{% block content %}

  <section id='app-detail'  class="service">
    <div class="service text-center">
        <h1 class="service-subtitle">Appointment Detail</h1>
        <h6 class="service-title mb-4">You May Cancel your Appointment if you want :)</h6>
        <p class="mb-5 pb-4"></p>
    </div> 

  <section class="bg-gray p-0 section">
    <div class="container">
        <div class="card bg-primary p-4">
            <div class="card-body text-light">
                <div class="row align-items-center">
                    <div class="col-sm-9 text-center text-sm-left">
                        <h3 class="mt-3">Your Booked Service {{ appointment.service.name }} </h3>
                        <p class="">Booked at {{ appointment.time }} , {{ appointment.date }}</p>
                    </div>
                    <div class="col-sm-3 text-center text-sm-right">
                        <button href="{% url 'appointments_delete' appointment.id %}"  class="btn btn-light rounded">Cancel Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  {% endblock %}
