{% extends 'base.html' %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}  m-4" id="msg" role="alert" style='text-align: center;'>{{ message }}</div>
    {% endfor %}
{% endif %}

{%for appointment in appointments%}
<div class="card mb-4">
    <h5 class="card-header">Service: {{appointment.service.name}}</h5>
    <div class="card-body">
      <h5 class="card-title">Date: {{appointment.date}}</h5>
      <p class="card-text">Time: {{appointment.time}}</p>
      <a href="{% url 'appointments_detail' appointment.id %}" class="btn btn-primary">appointment detail</a>
    </div>
  </div>
  {%endfor%}

  <a href="{% url 'appointments_create' %}" class="btn btn-primary">Book Appointment</a>

{%endblock%}