{% extends 'base.html' %}
{% block content %}
  <section class="bg-gray p-0 section">
    <div class="container">
      <div class="d-flex justify-content-between p-5 service text-center">
        <h1 class="service-subtitle">My Appointment</h1>
        <p class="mb-5 pb-4"></p>
        <div class="app-btn">
          <a class="- btn btn-primary rounded ml-4" href="{% url 'appointments_create' %}">Book Appointment</a>
        </div>
    </div> 
      {%for appointment in appointments%}
        <div class="card p-4 mb-3">
            <div class="card-body text-light">
                <div class="row align-items-center">
                    <div class="col-sm-9 text-center text-sm-left">
                        <h3 class="mt-3" style='color:#001F3F'>Date: {{appointment.date}} </h3>
                        <h4 class="" style='color:#001F3F'>Time: {{appointment.time}}</h4>
                    </div>
                    <div class="col-sm-3 text-center text-sm-right">
                        <a href="{% url 'appointments_detail' appointment.id %}" class="btn btn-light rounded">appointment detail</a>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</section>
{%endblock%}