{% extends 'base.html' %}

{% block content %}

{% load static %}

<h1>{{ service.name }} details </h1>

<div class="card">
    <div class="card-body">
        <div class="card-content">
            <div class="card-title">
                {{ service.name }} 
            </div>
            <p>Description: {{ service.description }}</p>
            <p>Price: {{ service.price }}</p>
            <img src="{% static 'images/first-image.jpg'%}" alt="">
        </div>
        <div class="card-action">
            <a href="{% url 'appointments_create' %}">Book an appointment</a>
        </div>
    </div>
</div>

<h2>Other Services</h2>
<hr>
<div class="row">
    {% for service in rest_service%}
    <div class="col-sm-6 col-md-6 col-lg-3">
      <div class="card">
        <img src="{% static service.image|cut:'main_app/static'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="text-align: center;">{{service.name}}</h5>
          <a href="{% url 'detail' service.id %}" class="btn">Read More</a>
        </div>
      </div>
    </div>
    {%endfor%}
</div>

{% comment %} getting reviews {% endcomment %}

{% for rev in review %}

{{ rev.user.first_name }} : {{ rev.review }}

{% endfor %}

<form action="{% url 'add_review' service.id %}" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" class="btn" value="Add Review">
</form>

{% endblock %}

