{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}  m-4" id="msg" role="alert" style='text-align: center;'>{{ message }}</div>
    {% endfor %}
{% endif %}


<form method="post" class="card w-50 p-3 mx-auto" style="font-size: 10px;">
    <h2 style='text-align:center'>Edit Profile</h2>
    {% csrf_token %}

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      {{ user_form.username }}
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">First Name</label>
      {{ user_form.first_name }}
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Last Name</label>
        {{ user_form.last_name }}     
      </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Email</label>
      {{ user_form.email }}
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone</label>
        {{ profile_form.phone }}
      </div>

    <button type="submit" class="btn btn-primary mb-2">Save Changes</button>
  </form>
{% endblock %}