{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<form action="" method="post" class="card w-50 p-3 mx-auto" style="font-size: 12px;">
    <h2 style='text-align:center'>Signup Page</h2>
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-primary mb-2" value="Sign Up">
    <a style='text-align:center' href="{% url 'login'%}">Already have an account? <span class="">Login</span></a>
    <input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock  %}
