{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<form action="" class="card w-50 p-3 mx-auto" style="font-size: 10px;" method="post">
  <h2 style="text-align: center;">Book Appointment</h2>
  {%csrf_token%}
    {{form|crispy}}
  <select class="form-select " aria-label="Default select example" id="pets" name="pets">
      <option selected>Select a Pet</option>
      {%for x in pets%}
       <option value="{{x.id}}">{{x}}</option>
      {%endfor%}
  </select>
  <br>
  <select class="form-select " aria-label="Default select example" id="services" name="services">
    <option selected>Select a Service</option>
    {%for service in services_list%}
    <option value="{{service.id}}">{{service.name}}</option>
    {%endfor%}
  </select>

  <input type="submit" value="Book!" class="btn btn-primary mt-2">
 
</form>

<script>
  const dateElement = document.getElementById('id_date')
    M.Datepicker.init(dateElement, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(), 
        setDefaultDate: true,
        autoClose: true
    })
</script>
{%endblock%}