{% extends 'base.html' %}
{% block content %}
{%load static%}

<form action="" method="post">
  {%csrf_token%}
  <div class="mb-3 appointment-form">
    {{form.as_table}}
    
  <select class="form-select " aria-label="Default select example" id="pets" name="pets">
      <option selected>Select a Pet</option>
      {%for x in pets%}
       <option value="{{x.id}}">{{x}}</option>
      {%endfor%}
  </select>

  <select class="form-select " aria-label="Default select example" id="services" name="services">
    <option selected>Select a Service</option>
    {%for service in services_list%}
    <option value="{{service.id}}">{{service.name}}</option>
    {%endfor%}
  </select>

  <input type="submit" value="Book!" class="btn btn-primary">
 </div>
</form>
{%endblock%}