{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load crispy_forms_tags %}
{% if object %}
<h1>Edit <span>{{object.name}}</span></h1>
{% else %}
<h1>Add Pet</h1>
{%endif%}

    <form action="" method="post" class="card p-5 mt-5" enctype="multipart/form-data">
    {%csrf_token%}
    <table style="width: 500px;">
        {{form|crispy}}
    </table>
    <input type="submit" value="submit" class="btn btn-primary mt-5">
    </form>


<script>
     const typeElement = document.getElementById('id_type')
    M.FormSelect.init(typeElement)
</script>

{%endblock%}