{% extends 'base.html' %}
{% block content %}
{%load static%}
{% load crispy_forms_tags %}
    <form action="" method="post" class="card w-50 p-3 mx-auto" style="font-size: 10px;" enctype="multipart/form-data">
        {% if object %}
<h2 >Edit <span>{{object.name}}</span></h2>
{% else %}
<h2 style="text-align: center;">Add Pet</h2>
{%endif%}
    {%csrf_token%}
    <table>
        {{form|crispy}}
    </table>
    {% if object %}
    <input type="submit" value="Edit Pet" class="btn btn-primary">
    {% else %}
    <input type="submit" value="Add Pet" class="btn btn-primary">
    {% endif %}
    </form>

<script>
     const typeElement = document.getElementById('id_type')
    M.FormSelect.init(typeElement)
</script>

{%endblock%}